<div class="jumbotron">
    <h1>My Places</h1>
    <p class="lead">My Places is an application which returns image data based on your favourite locations</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Location Search</h2>
            <p>Search location by ID or Name. Name searches are recommended for live search using the Flickr API</p>
            <input type="text" id="searchID" />  Location Name or ID<br /><br />
            <button onclick="searchLocation()">Search For Location by ID or Name</button>

            <h2>Update Location</h2>
            <p>Update data specific to the Location table in the database. Remember to enter your old Location name above</p>
            <input type="text" id="locationName" />  New Location Name<br /><br />
            <input type="text" id="latitude" />  New Latitude<br /><br />
            <input type="text" id="longitude" />  New Longitude<br /><br />
            <button onclick="updateLocation()">Update Location</button>
        </div>
        <div class="col-md-4">
            <h2>Post a Test Location</h2>
            <p>Test POST method with test data</p>
            <button onclick="addLocation()">Post Location</button>

            <h2>Delete Location</h2>
            <p>Delete a record in the Location table from the database. Specify its ID or Name in the first text box</p>
            <button onclick="deleteLocation()">Delete Location</button>
        </div>
        <div class="col-md-4">
            <h2>Landmark Search</h2>
            <p>Enter your location name in the first text box to find its interesting landmarks</p>
            <button onclick="searchLandmarks()">Landmark Search</button>
        </div>
        <!--<div class="col-md-4">
            <h2>Update Location</h2>
            <p>Update data specific to the Location table in the database</p>
            <input type="text" id="locationName" />  Location Name<br /><br />
            <input type="text" id="latitude" />  Latitude<br /><br />
            <input type="text" id="longitude" />  Longitude<br /><br />
            <button onclick="updateLocation()">Update Location</button>
        </div>-->
        <!--<div class="col-md-4">
            <h2>Delete Location</h2>
            <p>Delete a record in the Location table from the database. Specify its ID or Name in the first text box</p>
            <button onclick="deleteLocation()">Delete Location</button>
        </div>-->
    </div>
</div>

<br/>
 
<div>
    <h2>Display Location Data</h2>
    <table id="location" cellpadding="2" cellspacing="2" border="1" width="400">
        <tr>
            <td style="background-color: gray; color: white">LocationID</td>
            <td style="background-color: gray; color: white">Location Name</td>
            <td style="background-color: gray; color: white">Latitude</td>
            <td style="background-color: gray; color:white">Longitude</td>
        </tr>
    </table>
</div>

<br />
<div>
    <h2>Display Landmark Data</h2>
    <table id="landmark" cellpadding="2" cellspacing="2" border="1" width="400">
        <tr>
            <td style="background-color: gray; color: white">LandmarkID</td>
            <td style="background-color: gray; color: white">LocationID</td>
            <td style="background-color: gray; color: white">Landmark Title</td>
        </tr>
    </table>
</div>

<br />
<div>
    <h2>Display Image Data</h2>
    <table id="imageData" cellpadding="2" cellspacing="2" border="1" width="400">
        <tr>
            <td style="background-color: gray; color: white">ImageID</td>
            <td style="background-color: gray; color: white">LandmarkID</td>
            <td style="background-color: gray; color: white">Description</td>
            <td style="background-color: gray; color: white">Image1<img id="Image1" src="" /></td>
            <td style="background-color: gray; color: white">Image2<img id="Image2" src="" /></td>
            <td style="background-color: gray; color: white">Image3<img id="Image3" src="" /></td>
        </tr>
    </table>
</div>
<br/>

<h2>Landmark Images</h2> 
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="#" alt="#">
                <div class="caption">
                    <h3>Landmark Name</h3>
                    <p>Image Description</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="#" alt="#">
                <div class="caption">
                    <h3>Landmark Name</h3>
                    <p>Image Description</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="#" alt="#">
                <div class="caption">
                    <h3>Landmark Name</h3>
                    <p>Image Description</p>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("api/Locations", function (result) {
            console.info(result);
        });
        $.getJSON("api/Locations").done(function (data) {
            $.each(data, function (key, item) {
                $('#location').append("<tr><td>" + item.Id + "</td>" + "<td>" + item.Name + "</td>" + "<td>" + item.Latitude + "</td>" + "<td>" + item.Longitude + "</td></tr>");
            });
        });
    });


        $(document).ready(function () {
            $.getJSON("api/Landmarks", function (result) {
                console.info(result);
            });
            $.getJSON("api/Landmarks").done(function (data) {
                $.each(data, function (key, item) {
                    $('#landmark').append("<tr><td>" + item.Id + "</td>" + "<td>" + item.LocationId + "</td>" + "<td>" + item.Title + "</td></tr>");
                });
            });
         });

            $(document).ready(function () {
                $.getJSON("api/Images", function (result) {
                    console.info(result);
                });
                $.getJSON("api/Images").done(function (data) {
                    $.each(data, function (key, item) {
                        $('#imageData').append("<tr><td>" + item.Id + "</td>" + "<td>" + item.LandmarkId + "</td>" + "<td>" + item.Description +
                            + "</td>" + "<td>" + btoa(item.Image1) + "</td>" + "<td>" + btoa(item.Image2) + "</td>" + "<td>" + btoa(item.Image3) + "</td></tr>");
                    });
                });
            });

            function searchLocation() {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "api/Locations/" + $("#searchID").val(),
                    success: function (result) {
                        console.info(result);
                    }
                });
            }

            function addLocation() {
                var newLocation = {
                    "Id": 0,
                    "Name": "Test Location 1",
                    "Latitude": 87.987,
                    "Longitude": 56.234
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "api/Locations/",
                    data: newLocation,
                    success: function (result) {
                        console.info(result);
                    }
                });
            }

            function deleteLocation() {
                $.ajax({
                    type: "DELETE",
                    dataType: "json",
                    url: "api/Locations/" + $("#searchID").val(),
                    success: function (result) {
                        console.info(result);
                    }
                });
            }

            function updateLocation() {
                var newLocation = {
                    "Id": $("#searchID").val(),
                    "Name": $("#locationName").val(),
                    "Latitude": $("#latitude").val(),
                    "Longitude": $("#longitude").val()
                }

                $.ajax({
                    type: "PUT",
                    dataType: "json",
                    data: newLocation,
                    url: "api/Locations/" + $("#searchID").val(),
                    success: function (result) {
                        console.info(result);
                    }
                });
        }
</script>
